.UserInfo{
    padding: 3px;
    font: 1em sans-serif 400;
    color: white;
}

.UserInfo-image{
    border-radius: 50%;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
}